/*Navbar parent tag for staying on top*/
header {
    position: sticky;
    top: 0;
}


/*Global tags*/
textarea {
    resize: none;
}

legend {
    font-weight: bold;
}


/*Bootstrap Icons:*/
.bi, .fa {
    width: 1em;
    height: 1em;
}

/*Background colors per page*/
/*.patientPage {*/
/*    background-color: #7AE582;*/
/*}*/
/*.doctorPage {*/
/*    background-color: #00A5CF;*/
/*}*/