<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
<!--    <div th:replace="fragments/stylesheets"></div>-->
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
<!--    <div th:replace="fragments/navbar"></div>-->
  <h1>Patients</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Doctor</th>
            <th>Doc</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "patient: ${patients}">
            <td><a th:text="${patient.id}" th:href="@{/dashboard/{id} (id=${patient.id})}"></a></td>
            <td th:text = "${patient.firstName}"></td>
            <td th:text = "${patient.lastName}"></td>
            <td th:text = "${patient.doctor}"></td>
            <td><a th:text="'Dr. ' + ${patient.doc.firstName} + ' ' + ${patient.doc.lastName}"
                   th:href="@{/doctors/{docId} (docId=${patient.doc.docId})}"></a></td>
        </tr>
        </tbody>
    </table>

<form th:action="@{/dashboard/newpatient}">
    <button>Add Patient</button>
</form>
<!--    <div th:replace="fragments/bootstrapscripts"></div>- -->
<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>