<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Error Occurred</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<header th:insert="fragments/navbar :: navigation"></header>
<!--Custom Error Page-->
<div class="main">
    <div class="container">
        <div class="box border mt-5 p-5">
            <h3>An error has occurred. We are looking into it.</h3>
        </div>
    </div>
</div>

<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>