<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add New Doctor</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body class="doctorPage">
<header th:insert="fragments/navbar :: navigation"></header>

<div class="main">
    <div class="container">
        <div class="box border mt-5 p-5">

            <fieldset>
                <legend>Add New Doctor</legend>
<!--                Form for submitting request to add a new Doctor to database-->
                <form th:action="@{/doctors/newdoctor}" th:object="${doctor}" method="post">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">First Name:</label>
                        <div class="col-4">
                            <input class="form-control" type="text" th:field="*{firstName}"
                                   placeholder="Enter the doctor's first name"/>
<!--                            Data Validation message for empty value-->
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Last Name:</label>
                        <div class="col-4">
                            <input class="form-control" type="text" th:field="*{lastName}"
                                   placeholder="Enter the doctor's last name"/>
<!--                            Data Validation message for empty value-->
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}"
                                 th:errors="*{lastName}"></div>
                        </div>
                    </div>
<!--                    Submittal button-->
                    <button class="btn btn-primary">Add Doctor</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>