<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add New Patient</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<header th:insert="fragments/navbar :: navigation"></header>
<div class="main">
    <div class="container">
        <div class="box border mt-5 p-5">

            <fieldset>
                <legend>Add New Patient</legend>
                <form th:action="@{/dashboard/newpatient}" th:object="${patient}" method="post">
                    <div class="row">
                        <div class="col">
                            <label>First Name:</label>
                            <input class="form-control" type="text" th:field="*{firstName}"
                                   placeholder="Enter the patient's first name" required/>
                        </div>
                        <div class="col">
                            <label>Last Name:</label>
                            <input class="form-control" type="text" th:field="*{lastName}"
                                   placeholder="Enter the patient's last name" required/>
                        </div>
                        <div class="col-3">
                            <label>Date of Birth:</label>
                            <input class="form-control" type="date" th:attr="max=${currDate}, min=${limitDate}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Phone Number:</label>
                            <input class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
                        </div>
                        <div class="col">
                            <label>Gender:</label>
                            <select class="form-select">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Race/Ethnicity:</label>
                            <select class="form-select">
                                <option>White</option>
                                <option>Black or African American</option>
                                <option>American Indian or Alaska Native</option>
                                <option>Asian</option>
                                <option>Native Hawaiian or Other Pacific Islander</option>
                            </select>
                        </div>
                        <div class="col">
                            <label></label>
                            <input class="form-control" type="text" readonly/>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Email Address:</label>
                            <input class="form-control" type="email"/>
                        </div>
                        <div class="col-4">
                            <label>Doctor</label>
                            <select class="form-select" name="doctorId" th:field="*{doc.docId}">
                                <option th:each="doctor:${doctors}" th:value="${doctor.docId}"
                                        th:text="'Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName}"></option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <div>
                        <button class="btn btn-primary">Add Patient</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>