<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add New Visit Notes</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body class="patientPage">
<header th:insert="fragments/navbar :: navigation"></header>

<div class="main">
    <div class="container">
        <div class="box border mt-5 p-5">

<!--            Displays the Patient's name as part of header-->
            <fieldset>
                <legend th:text="'Adding New Visit Notes for ' + ${patient.firstName} + ' ' + ${patient.lastName}">
                    Adding New Visit Notes
                </legend>
<!--                Form for submitting request to add a new Visit Notes object to the database-->
                <form th:action="@{/newnotes/{id} (id=${patient.id})}" th:object="${visit}" method="post">
                    <div class="row">
                        <div class="col">
                            <label>Reason for Visit:</label>
                            <input class="form-control" type="text" th:field="*{visitReason}"
                                   placeholder="Patient's visit was regarding..." required>
                        </div>
                        <div class="col-3">
                            <label>Date of Visit:</label>
<!--                            Attribute prevents selecting a future date-->
                            <input class="form-control" type="date" th:attr="max=${currDate}" th:field="*{visitDate}"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>What was discussed during this visit:</label>
                            <br>
                            <textarea class="form-control" th:field="*{description}"
                                      placeholder="Enter notes about the visit here" rows="7"></textarea>
                        </div>
                    </div>
                    <div>
<!--                        Submittal button-->
                        <button class="btn btn-primary">Add Visit Notes</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>