<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<header th:insert="fragments/navbar :: navigation"></header>

<h1>Registration</h1>

<form th:action="@{/registration}" method="post" th:object="${user}">
  <div class="form-group">
    <label class="control-label" for="signupEmail"> Username </label>
    <input id="signupEmail" class="form-control" th:field="*{email}"
           required autofocus="autofocus" />
  </div>

  <div class="form-group">
    <label class="control-label" for="password"> Password </label> <input
          id="password" class="form-control" type="password"
          th:field="*{password}" required autofocus="autofocus" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Register</button>
    <span>Already registered? <a th:href="@{/}">Login
        here</a></span>
  </div>
</form>

<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>