<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Patient</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
<h1></h1>
<form th:action="@{/dashboard/{id} (id=${patient.id})}" th:object="${patient}" method="post">
    <input type="text" th:field="*{firstName}"/>
    <input type="text" th:field="*{lastName}"/>
    <input type="text" th:field="*{doctor}"/>
    <button id="toggleBtn">Enable Edit</button>
    <button>Update Patient</button>
</form>

<div th:replace="fragments/bootstrapscripts :: scripts"></div>
<script th:src="@{/js/viewpatientjs.js}"></script>
</body>
</html>