<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doc</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
<h1 th:text="'Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName} + '\'s Patient'">Doctor's Patients</h1>
<table>
    <thead>
    <tr>
        <th>Patient ID</th>
        <th>Patient First Name</th>
        <th>Patient Last Name</th>
<!--        <th>DOB</th>-->
<!--        <th>Last Visit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each = "patient: ${patients}">
        <td><a th:text="${patient.id}" th:href="@{/dashboard/{id} (id=${patient.id})}"></a></td>
        <td th:text = "${patient.firstName}"></td>
        <td th:text = "${patient.lastName}"></td>
<!--        <td th:text = "${patient.dob}">date of birth</td>-->
<!--        <td th:text = "${patient.lastvisit}">last visit date</td>-->
    </tr>
    </tbody>
</table>
<div th:replace="fragments/bootstrapscripts :: scripts"></div>
</body>
</html>