<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Patient</title>
    <div th:replace="fragments/stylesheets :: styles"></div>
</head>
<body>
<header th:insert="fragments/navbar :: navigation"></header>


<div class="main">
    <div class="container">
        <div class="box border mt-5 p-5">


<h1 th:text="${patient.firstName} + ' ' + ${patient.lastName} + '\'s Info'">Patient Info</h1>
<form th:action="@{/dashboard/{id} (id=${patient.id})}" th:object="${patient}" method="post" id="patientForm">
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}"/>
    </div>
<!--    <div>-->
<!--        <label>Doctor:</label>-->
<!--        <input type="text" th:field="*{doctor}"/>-->
<!--    </div>-->
    <div>
        <label>Doc:</label>
        <select name="doctorId" th:field="*{doc.docId}">
            <option th:each="doctor:${doctors}" th:value="${doctor.docId}"
                    th:text="'Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName}"
                    th:selected="${doctor.docId == patient.doc.docId}"></option>
        </select>
    </div>
    <button id="toggleBtn"><i class="bi-pencil"></i> Enable Edit</button>
    <button id="patientUpdateBtn">Update Patient</button>
    <button type="submit"
            name="delPatient"
            id="patientDeleteBtn"
            th:data-confirm-delete="|Are you sure you want to delete this patient, ${patient.firstName} ${patient.lastName}?|"
            onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
    >Delete Patient</button>
</form>

<hr>

<h3>Visit Notes</h3>
<div>
    <form th:action="@{/newnotes/{id} (id=${patient.id})}">
        <button>Add Notes</button>
    </form>
</div>

<div th:each="visit:${visits}">
    <div>
        <label>Reason for Visit:</label>
        <input type="text" th:value="${visit.visitReason}">
    </div>
    <div>
        <label>Date of Visit</label>
        <input type="text" th:value="${visit.visitDate}">
    </div>
    <div>
        <label>What was discussed during this visit:</label>
        <br>
        <textarea th:text="${visit.description}"></textarea>

        <form th:action="@{/deletenote/{id} (id=${visit.id})}" method="post">
            <button type="submit"><i class="bi-trash"></i></button>
        </form>

    </div>
</div>

<div th:replace="fragments/bootstrapscripts :: scripts"></div>
<script th:src="@{/js/viewpatientjs.js}"></script>


</div>
</div>
</div>
</body>
</html>